---
layout: default
---

<div class="sit-right fourohfour">
  <div class="fourohfour-box">
    <h1>404</h1>

    <p><strong>Sorry to disappoint partner, but there ain&apos;t nothin&apos; here.</strong></p>
    <p>Try one of these articles:</p>
  </div>
  <ul>
    <script type="text/javascript">

      var postsHREF = [{% for post in site.posts limit:10 %}"{{ post.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}];

      var postsTitle = [{% for post in site.posts limit:10 %}"{{ post.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
      var postsExcerpt = [{% for post in site.posts limit:10 %}"{{ post.excerpt | strip_html | escape | strip_newlines }}"{% unless forloop.last %},{% endunless %}{% endfor %}];

      var randomIndexUsed = [];
      var counter = 0;
      var numberOfPosts = 4;

      while (counter < numberOfPosts)
      {
          var randomIndex;
          var postHREF;
          var postTitle;

          randomIndex = Math.floor(Math.random() * postsHREF.length);

          if (randomIndexUsed.indexOf(randomIndex) == "-1")
          {
              postHREF = postsHREF[randomIndex];
              postTitle = postsTitle[randomIndex];
              postExcerpt = postsExcerpt[randomIndex];

              document.write('<li class="card post-preview"><a href="' + postHREF + '">' + postTitle + '</a><p>' + postExcerpt + '</p></li>');

              randomIndexUsed.push(randomIndex);

              counter++;
          }
      }
    </script>
  </ul>
</div>
