{%- if include.caption -%}
	<figure class='post-image post-image-{{ include.imageSize | default: "full" }}'>
		<img async='on'  src='../../../assets/post-images/{{ include.image }}' alt='{{ include.alt }}' data-jslghtbx data-jslghtbx-group='post-group' />
		<figcaption>
			{{ include.caption }}
		</figcaption>
	</figure>
{%- else -%}
	<div class='post-image post-image-{{ include.imageSize | default: "full" }}'>
		<img async='on' src='../../../assets/post-images/{{ include.image }}' alt='{{ include.alt }}' data-jslghtbx data-jslghtbx-group='post-group' />
	</div>
{%- endif -%}