.fourohfour-box {
	h1 {
		text-align: right;
		font-size: 30vw;
		line-height: 1;
		margin: 0;
		@include maxq($mq-small) {
			font-size: 45vw;
		}
	}
	p {
		font-size: 1.4em;
		@include minq($mq-medium) {
			font-size: 1.8em
		}
		text-align: right;
		margin: 0;
	}
}
.fourohfour {
	ul {
		flex-direction: column;
		list-style: none;
		margin: 1.5em 0;
		padding: 0;
		@include minq($mq-large) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
.post-preview {
	margin: 1.5em 0;
	padding: 1em;
	@include minq($mq-large) {
		box-sizing: border-box;
		flex-basis: calc(50% - 1.5em);
		&:nth-of-type(odd) {
			margin-right: 1.5em;
		}
		&:nth-of-type(even) {
			margin-left: 1.5em;
		}
	}
	a {
		font-family: $font-aktiv;
		font-size: 1.4em;
	}
	p {
		font-size: 1.2em;
		font-weight: normal;
	}
}