.site-footer {

}

.contact-list {
	display: flex;
	flex-direction: column;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  @include minq($mq-small) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
  }
  a {
    padding: .5em;
  	display: block;
  	color: $grey-color;
  	text-decoration: none;
  	&,&:visited {
      color: $text-color;
    }
    &:hover {
      background-color: $grey-color-lighter;
      border-radius: .75em;
    }
  }
  li {
    @include minq($mq-small) {
    	width: 50%;
    }
    @include minq($mq-medium) {
    	width: 32%;
    }
  }
  .svg-icon {
  	padding-right: 5px;
  	vertical-align: baseline;
  }
}

.footer-card {
	font-family: $font-aktiv;
	font-weight: bold;
	padding: .75em .65em;
	margin-bottom: 3em;
}