.site-header {
  padding: 1em 0;
}

.site-title {
  font-size: 8vh;
  font-weight: 700;
  font-family: $font-aktiv;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

  &,
  &:visited {
    color: $text-color;
  }
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}