.post {
  // overflow: auto;
  margin-bottom: 0;
}

.post-list-heading {
  font-size: 2em;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 1.5em;
}

.post-header {
  font-family: $font-aktiv;
  display: flex;
  flex-direction: column;
  // margin-bottom: .5em;
  @include minq($mq-medium) {
    margin-bottom: 2em;
  }
}

.post-banner {
  order: 1;
}

.post-header-details {
  order: 2;
  padding: 1em .5em .25em;
  font-size: 1.2em;
  @include minq($mq-medium) {
    padding: 1em .5em .25em 1em;
    margin-left: calc(25% - .5em);
  }
  @include minq($mq-large) {
    margin-left: calc(33% - .5em);
    font-size: 1.4em
  }
}

.post-title {
  font-size: 2.25em;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: .125em;

  @include minq($mq-small) {
    font-size: 3em;
  }
}

.post-content {
  margin-bottom: .4em;
  padding: 1em 1em .25em;
  font-size: 1.2em;
  overflow: auto;
  @include maxq($mq-medium) {
    margin: 0 -1em .4em;
  }
  @include minq($mq-large) {
    font-size: 1.4em;
  }
  p, ul {
    padding: 0 .5em;
  }

  h2 {
    font-size: 1.75em;
    @include minq($mq-medium) {
      font-size: 2em
    }
  }

  h3 {
    font-size: 1.375em;
    @include minq($mq-medium) {
      font-size: 1.625em;
    }
  }

  h4 {
    font-size: 1.125em;
    @include minq($mq-medium) {
      font-size: 1.25em;
    }
  }
}

.post-image {
  margin: 0 -1em 1.5em;
    @include minq($mq-medium) {
      margin: 0 0 1.5em;
    }
  figcaption {
    padding: .25em 1.5em 0;
    @include minq($mq-medium) {
      padding: .25em 0 0;
    }
  }
  &-half {
    @include minq($mq-small) {
      float: left;
      width: 50%;
      p ~ & {
        padding-right: 1.5em;
      }
      & + & {
        float: right;
        p ~ & {
          padding-right: 0;
        }
      }
    }
    @include minq($mq-medium) {
      width: calc(50% - .75em);      
    }
  }
  &-third {
    @include minq($mq-small) {
      float: left;
      width: calc(33% - 1em);
      p ~ & {
        padding-right: 1.5em;
      }
      & + & + & {
        float: right;
        p ~ & {
          padding-right: 0;
        }
      }
    }
  }
  &-quarter {
    @include minq($mq-small) {
      float: left;
      width: calc(25% - 1.125em);
      p ~ & {
        padding-right: 1.5em;
      }
      & + & + & + & {
        float: right;
        p ~ & {
          padding-right: 0;
        }
      }
    }
  }
}

.post-navigation {
  font-family: $font-aktiv;
  padding: 1em 1.05em;
  margin-bottom: 3em;
  a {
    display: block;
    padding: .5em;
    margin: 0 -.5em;
    text-decoration: none;
    height: calc(100% - .65em);
    &,&:visited {
      color: $text-color;
    }
    &:hover {
      background-color: $grey-color-lighter;
      border-radius: .75em;
    }
  }
  div {
    text-decoration: underline;
  }
  h6 {
    font-family: $font-minion;
    font-size: 1.2em;
    display: block;
    border-bottom: 1px solid $grey-color-lighter;
    padding: 0 .8em .5em;
    margin: 0 -.6em .6em;
  }
  img {
    // width: .6em;
    height: .8em;
    padding: .25em;
    text-align: top;
    margin-top: -.35em
  }
}
.post-navigation-list {
  list-style: none;
  margin: 0;
}
@include minq($mq-small) {
  .post-navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    & > li {
      width: 100%;
      flex-basis: 1;
    }
  }
  .post-navigation-previous {
    text-align: right;
  }
}