$font-minion: minion-pro-1, minion-pro-2,serif;
$font-aktiv: aktiv-grotesk-1, aktiv-grotesk-2, sans-serif;

$base-font-family: $font-minion !default;
$base-font-size: 1em !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.8 !default;

$spacing-unit: 30px !default;

$text-color: #272727 !default;
$background-color: #fafafa !default;
$brand-color: #2a7ae2 !default;

$grey-color: #474747 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-lighter: lighten($grey-color, 64%) !default;
$grey-color-lightest: lighten($grey-color, 68%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$mq-small: 37.5rem;
$mq-medium: 60rem;
$mq-large: 100rem;