@font-face {
  font-family: 'Gingham';
  src: url('./Gingham.woff2') format('woff2'),
    url('./Gingham.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
	font-family: 'Gingham', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}