---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url_root }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if post.banner -%}
          <img src='assets/post-images/{{ post.banner }}'>
        {%- endif -%}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        {%- if post.excerpt -%}
          <a href="{{ post.url | relative_url_root }}">
            Continue Reading&nbsp;&hellip;
          </a>
        {%- endif -%}        
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url_root }}">via RSS</a></p>
  {%- endif -%}

</div>
