---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- if post.banner -%}
          <img class="post-banner" async='on' src='assets/post-images/{{ post.banner }}' alt='{{ post.alt }}' />
        {%- endif -%}
        <div class="card">
          <h2>
            <a class="post-link" href="{{ post.url | join: site.baseurl | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h2>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if site.show_excerpts -%}
            <div class="post-excerpt">
              {{ post.excerpt }}
              {%- if post.excerpt -%}
                <a class="post-continue" href="{{ post.url | join: site.baseurl | relative_url }}">
                  Continue Reading&nbsp;&hellip;
                </a>
              {%- endif -%}   
            </div>
          {%- endif -%}
        </div>   
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <div class="pagination card sit-right">
    <span class="page-number ">
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | join: site.baseurl | relative_url }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | join: site.baseurl | relative_url }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
</div>
